<div class="container">
  <md-card>
    <md-card-title>Source</md-card-title>
    <md-card-content>
      <md-list [@list]="source.length">
        <md-list-item *ngFor="let item of source; trackBy: itemid"
                      class="item"
                      (click)="moveToTarget(item, itemRef)">
          <app-list-item [item]="item"
                         #itemRef
                         [@itemState]="{ value: '', params: { translate: translate(positions.get(item), itemRef) }}"></app-list-item>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Target</md-card-title>
    <md-card-content>
      <md-list [@list]="source.length">
        <md-list-item *ngFor="let item of target; trackBy: itemid"
                      class="item"
                      (click)="moveToSource(item, itemRef)">
          <app-list-item [item]="item"
                         #itemRef
                         [@itemState]="{ value: '', params: { translate: translate(positions.get(item), itemRef) }}"></app-list-item>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
